<body>
  <section class="body" > 
    <h2>{{user.companyName}}</h2>
    <p><a href="/profile/user/{{user._id}}">Usuario</a></p>
    <div class="formulario-company" >
      <p>
      Dirección:
      <input type="text" name="address" id="address">
      Horario: 
      <input type="time" name="horario" id="horario">
        </p>
    </div>
    <div id="map"></div>
    <div class="rutas-disponibles" >
    <h3>Rutas disponibles</h3>
    {{#each company.routes}}
    <div class="container">
    <div class="routeCard row">
      <div class="col-3">
        <img style="width:100%;" src="http://vallartaopina.net/wp-content/uploads/2017/11/MAPS.jpg" alt="imagen">
    </div>
    <div class="col-9">
      <p><strong>Salida:</strong> 
      {{this.start.address}}</p>
      <p><strong>Destino:</strong> {{this.destiny.address}}</p>
      <p><strong>Horario:</strong> {{this.time}}</p>
      <a href="/profile/route/detail/{{this._id}}"><button class="btn btn-primary">Ver Ruta</button></a>
    </div>
    </div>
    </div>
    {{/each}}
    </div>
    </section>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIstIL_VA1Z_tPaYLKg2CvMG1sz6V0ywY&libraries=places"></script>
<script>
  let lati = 19.39776549999999
  let lng = -99.1713954
  const map = document.getElementById('map')
  const input = document.getElementById('address')

  function initMap(lati,lngi) {
    mapa = new google.maps.Map(map, {
    center:{lat:lati,lng:lngi},
    zoom:17
    })
    
    {{#each company.routes}}
      createMarkers({{this.start.coordinates.[1]}},{{this.start.coordinates.[0]}})
    {{/each}}
    createMarkers(lati,lng) 
    }

  function autoComplete(ainput){
    const dropdown = new google.maps.places.Autocomplete(ainput)
    dropdown.addListener('place_changed',()=>{
      const place = dropdown.getPlace()
      lati = place.geometry.location.lat()
      lng = place.geometry.location.lng()   
      initMap(lati,lng)
    })
  }
  function createMarkers(x,y){
    let markere = new google.maps.Marker({
      position:{lat:x, lng:y},
      map:mapa,
      title:"{{user.username}}"
    })
  }
  initMap(lati,lng)
  autoComplete(input)
</script>