
<div id="section1">
<img src="{{photoURL}}" alt="Imagen de perfil" id="img-perfil">
<h2>{{username}}</h2>
<p id="rating">Rating {{rating}}</p> 
<a href="/profile/company/{{companyId}}" ><button class="btn btn-primary">Home empresa</button></a>
{{!-- <input max="5" type="number" name="number" id="grade">
<button type="submit">Calificar</button> --}}
</div>
<div id="section2">
  <h4>Info General</h4>
  <p>Nombre completo:{{completeName}}</p>
  <p>Edad: {{Age}}</p>
  <p>Gusto musical: {{preferences.music}}</p>
  <p>Fumas: {{preferences.smoke}}</p>
  <p>Descripción: {{preferences.descripcion}}</p>
</div>
<div id="section3">
  <h4>Rutas</h4>
  <a href="/profile/route/new"><button class="btn btn-primary">Crear una ruta</button></a>
  {{#each routes}}
  <div class="container">
    <div class="routeCard row">
      <div class="col-3">
          <img style="width:100%;" src="http://vallartaopina.net/wp-content/uploads/2017/11/MAPS.jpg" alt="imagen">
      </div>
      <div class="col-9">
        <p><strong>Salida:</strong> 
        {{this.start.address}}</p>
        <p><strong>Destino:</strong> {{this.destiny.address}}</p>
        <p><strong>Horario:</strong> {{this.time}}</p>
        <a href="/profile/route/delete/{{this._id}}"><button class="btn btn-primary">Borrar</button></a>
      </div>
    </div>
  </div>
  {{/each}}
</div>

{{!-- <script>
  let rating = document.getElementById('rating')
  const boton = document.getElementsByTagName('button')
  const input = document.getElementById('grade')

  boton[0].addEventListener('click',()=>{
    console.log(input.value)
    
  })
</script> --}}